@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Quicksand", Helvetica, sans-serif;
  gap: 1rem;
}

h1 {
  color: #00B7FF;
  margin-bottom: -0.4rem;
}

body>p {
  font-size: 0.9rem;
  transition: transform 0.5s ease-out;
}

body>p:hover {
  transform: scale(1.3);
}

article {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 400px;
  padding: 0.5rem 1rem;
  height: auto;
}

article>div {
  display: flex;
}

article>div>:nth-child(1) {
  color: #ffbdbd;
  font-size: 0.9rem;
}

article>div>:nth-child(2) {
  margin-left: auto;
  font-size: 0.8rem;
}

article>p {
  font-size: 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 250px;
}

form>input,
form>textarea {
  margin-top: -0.7rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-radius: 12px;
  border: 1px solid #999;
}

form>textarea {
  height: 80px;
  resize: none;
}

form>button {
  border: 0;
  background-color: #FFF;
  transition: transform 0.5s ease-out;
}

form>button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

a {
  color: #000;
}